<div class="media">
    <div class="media-left">
        <a href="#"><img src="http://ddragon.leagueoflegends.com/cdn/6.5.1/img/profileicon/<%=summoner.profileIconId%>.png" class="media-object"></a>
    </div>
    <div class="media-body">
        <h3 class="media-heading"><%= summoner.name %></h3>
        <p><b>Level</b> <%= summoner.summonerLevel %></p>
        <pre class="bgwhite"><%= JSON.stringify(summoner, null, 4) %></pre>
    </div>
</div>
