<!DOCTYPE html>

<html>
    <head>
        <title>fun-with-node</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <pre><%= JSON.stringify(match, null, 4) %></pre>
    </body>
</html>
