<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <script src="/javascripts/jquery-2.2.1.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <style>
        .tab-content {
            padding: 10px;
            border-width: 0px 1px 1px 1px;
            border-style: solid;
            border-color: #ddd
        }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row well well-sm">
            <% include summoner/summoner.v14.ejs %>
            </div>

            <div class="row">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#summary" data-toggle="tab" class="bold">Summary (<%=summary.$season%>)</a></li>
                    <li role="presentation"><a href="#TODO" data-toggle="tab" class="bold">TODO</a></li>
                </ul>
            </div>

            <div class="row">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="summary"><% include summoner/summary.v13.ejs %></div>
                    <div role="tabpanel" class="tab-pane" id="TODO">2</div>
                </div>
            </div>
        </div>

        <script>
            function refreshSummoner() {
                var button = $('#refreshSummoner');
                var currentPath = $(location).attr('pathname');

                button.prop('disabled', true);
                $.get(`${currentPath}/refresh`, function(data) {
                    location.reload();
                }).fail(function(error) {
                    alert('Error updating summoner');
                    button.prop('disabled', false);
                });
            }
        </script>
    </body>
</html>
